.validar-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  border-radius: 12px;
}

.logo-escuela{
  width: 250px;
  height: auto;
}
.tabla-validacion {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tabla-validacion th, .tabla-validacion td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.btn-aprobar {
  background: #28a745;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 5px;
}

.btn-rechazar {
  background: #dc3545;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}
